<%- include('../partials/header') %>

<h2>Edit Event</h2>
<form action="/events/<%= event._id %>?_method=PUT" method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="<%= event.title %>">
  <label for="date">Date:</label>
  <input type="datetime-local" id="date" name="date" value="<%= moment(event.date).format('YYYY-MM-DDThh:mm') %>">
  <label for="location">Location:</label>
  <input type="text" id="location" name="location" value="<%= event.location %>">
  <label for="guests">Guests:</label>
  <% contacts.forEach(function(contact) { %>
      <input type="checkbox" <%= guestIds.includes(contact._id.toString()) ? 'checked' : '' %> id="guest" name="guests" value="<%= contact._id %>">
      <label for="guests"><%= contact.name %></label>
    <% }) %>

  <button type="submit">Save Changes</button>

</form>

<%- include('../partials/footer') %>