<%- include('../partials/header') %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>
</table>
<tbody>
  <% events.forEach(function(e) { %>
    <tr>
      <td><%= e.title %></td>
      <td><%= e.date %></td>
      <td><%= e.location %></td>
      <td><a href="/events/<%= e._id %>">Update Details</a></td>
    </tr>
  <% }) %>
</tbody>

<a href="/events/new">Make an event</a>


<%- include('../partials/footer') %>