<%- include('../partials/header') %>
<section>
  <div>Title:</div>
  <div><%= event.title %></div>
  <div>Time:</div>
  <div><%= event.date %></div>
  <div>Location:</div>
  <div><%= event.location %></div>
</section>

<h3>Guest List</h3>
<ul>
  <% event.guests.forEach(function(guest) { %>
    <li><%= guest.name %></li>
  <% }) %>
</ul>

<a href="/events/<%= event._id %>/edit">Update info</a>
<%- include('../partials/footer') %>