<%- include('../partials/header') %>
<section>
  <div>Title:</div>
  <div><%= event.title %></div>
  <div>Time:</div>
  <div><%= event.date %></div>
  <div>Location:</div>
  <div><%= event.location %></div>
</section>
<%- include('../partials/footer') %>